<suite name="Automation Suite">
    <listeners>
        <listener class-name="core.listener.TestListener"/>
    </listeners>

    <test name="Google Feature Tests">
        <classes>
            <class name="features.demo.google.GooglePageTest"/>
            <class name="features.demo.google.GooglePageTwoTest"/>
            <class name="features.demo.google.GoogleSearchTest"/>
        </classes>
    </test>
</suite>
